html,
body {
  overflow: auto;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #f0f1f5;
}
/* 
#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#overlayes {
  display: flex;
  justify-content: center;
}
